:host {
	width: 100%;
}

table {
	width: 100%;
  }
  

tr.mat-footer-row {
font-weight: bold;
}

.mat-elevation-z8{
	box-shadow: none;
}

th.mat-sort-header-sorted {
	color: black;
}

td.mat-cell{
	text-align: left;
}

.mat-footer-cell{
	text-align: left;
}

.table-container{
	overflow: auto;
}

.cdk-column-actions{
	text-align: center;
	width: 5vw;
}

.cdk-column-position{
	width: 10vw;
}

.cdk-column-price{
	width: 10vw;
}


