:host {
	width: 100%;
}

table {
	width: 100%;
  }
  
tr.mat-footer-row {
font-weight: bold;
}

.mat-elevation-z8{
	box-shadow: none;
}

th.mat-sort-header-sorted {
	color: black;
}

td.mat-cell{
	text-align: left;
}

.mat-footer-cell{
	text-align: left;
}