<h2 mat-dialog-title>Create new Ticket</h2>
<mat-dialog-content>

    <mat-form-field>
        <mat-select placeholder="Type" value="regular" [(ngModel)]="ticket.type">
          <mat-option value="Regular">Regular</mat-option>
          <mat-option value="Super Saver">Super Saver</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input 
            value="new Date()"
            matInput 
            [matDatepicker]="creationDate" 
            placeholder="Choose a date" 
            [(ngModel)]="ticket.creationDate"
            >
        <mat-datepicker-toggle matSuffix [for]="creationDate"></mat-datepicker-toggle>
        <mat-datepicker #creationDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input 
          matInput 
          type="number" 
          placeholder="Price" 
          class="example-right-align" 
          [(ngModel)]="ticket.price" required #input>
        <span matSuffix>CHF</span>
    </mat-form-field>
  
  

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">back</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="ticket" color="primary">Save</button>
</mat-dialog-actions>