:host{
    padding-top: 30px;
}

.mat-card{
    width: 60%;
    max-width: 350px;
    margin: 30px auto;

}

.mat-card-title{
    text-align: left;
    font-style: bold;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .totalCoast{
      font-size: 100px;
  }